.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
}

.pageTitle {
  font-weight: 700;
  font-size: 59px;
  line-height: 1.24;
  text-align: center;
  color: var(--color-green-400);
}

.appContainer {
  width: 100%;
  max-width: 750px;
  padding: 10px;

  border-radius: 10px;
  background-color: var(--color-white);
  box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.25);
}
